.container {
    margin: auto;
    width: 80%;
    height: calc(100vh - 88px);
    padding: 1rem 0rem 0.5rem 0rem;
  }
  
  .header {
    text-align: center;
    color: #4a4a4a;
  }
  
  .leaderboard {
    background-color: #f9f9f9;
    margin: 20px 0;
    padding: 20px;
  }
  
  .ranking {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .select-time-range {
    width: 164px;
    height: 38px;
    font-size: 16px;
  }

  .leaderboard-toolbar{
    background-color: white; color: black; display: flex !important;
  }
  .leaderboard-toolbar-header{
    flex-grow: 1 !important;
    text-align: left;
  }